.form {
display: flex;
flex-direction: column;
gap: 30px;
width: 50%;

}

.form_divs {
    display: flex;
    flex-direction: column;

    
    
}
.form_input {
    padding: 10px;
}
.page-container {

}

.form_textarea {
min-height: 300px;
} 

.button {
padding: 7px;
background-color:#2ECC71 ;
border-color: #2ECC71;
}